body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    color: black;
}
.navbar {
    text-shadow: 0.2px 0.3px 0px rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgba(233, 235, 235, 0.81),rgba(158, 160, 160, 0.81));

}
#LayoutLogo:hover {

    opacity:0.6;
}
#SouvenirLogo {

    color: rgb(168, 18,18);
    font-size: 16px;
    font-weight: 600;
}
#SouvenirLogo:hover {
    color: rgb(218, 58,58);

}
.thumbnail {
    background: linear-gradient(rgba(243, 245, 245, 0.91),rgba(223, 225, 225, 0.91));
    background-color: #FFFFFF;
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.14), 0 2px 12px 0 rgba(0,0,0,0.12), 0 5px 8px -3px rgba(0,0,0,0.3);
}


.thumbnail:hover {
    box-shadow: 0 24px 36px 3px rgba(0,0,0,0.14), 0 9px 45px 8px rgba(0,0,0,0.12), 0 12px 15px -8px rgba(0,0,0,0.3);
    color: black;
}

a {
    color: rgba(94, 93, 92, 1);
}

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    -webkit-box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 3px 0px rgba(0, 0, 0, 0.3);
}



.btn-default {
    border: thin solid;
    border-color:gray;
    color: #2b2b38;
    background: linear-gradient(rgba(243, 245, 245, 0.91),rgba(193, 185, 185, 0.91));
    margin: auto;
    border-radius: 30%;
    text-shadow: 0.3px 0.3px 0px rgba(0, 0, 0, 0.3);
    position: relative;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active {
    margin-top: 3px;
    margin-bottom: -3px;
}

.navbar-default .navbar-nav > li > a:before{
    content: "";
    position: absolute;
    z-index: -2;
    left: 0;
    right: 100%;
    bottom: 0%;
    background: #4e555b; /*** COLOR OF THE LINE ***/
    height: 4px; /*** THICKNESS OF THE LINE ***/
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

.navbar-default .navbar-nav > li > a:hover {
    /*color: white;*/
    opacity: 1 !important;
}

.navbar-default .navbar-nav > li > a:hover:before{
    right: 0;
}



.navbar-default .navbar-nav > li > a {
    color: #444444;
}
.nav-pills > li.active > a {
    background: linear-gradient(rgba(163, 165, 165, 0.15),rgba(123, 125, 125, 0.15));
    text-shadow: 0.2px 0.3px 0px rgba(0, 0, 0, 0.3);
    color: #1d2124;
}
.nav-pills > li.active > a:hover {
    background: linear-gradient(rgba(163, 165, 165, 0.15),rgba(123, 125, 125, 0.15));

    text-shadow: 0.2px 0.3px 0px rgba(0, 0, 0, 0.3);
    color: #000000;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    text-shadow: 0.2px 0.3px 0px rgba(0, 0, 0, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(56, 15, 7, 0.92)
}
.btn {
    border-radius:6px;
}
button {
    border:thin;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.box {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    max-width: 700px;
}

.box .overbox {
    background-color: rgba(248, 255, 248, 0.5);
    top: 30px;
    left: 0;
    color: black;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.box:hover .overbox { display: block ;opacity: 1}

.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .tagline {
    font-size: 1em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.content {
    min-height: calc(100vh - 250px);
}

footer {
    font-size: 15px;

    width: 100%;

    height: 100px;

    margin:30px 0px -50px 0px;

    padding:5px;

    background: linear-gradient(rgba(158, 160, 160, 0.51),rgba(233, 235, 235, 0.11));"
}

.mywrapper {
    display: flex;
    justify-content: space-between;
}

.mysidebar {
    position: fixed;
    width: 230px;

    top:10%;
    left:5%;
    bottom: 0;
}

.footerStyle{
    color: #4e555b;
    font-size: 14px;
}

